.card-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.user-info {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

#post-list {
    display: grid;
    grid-auto-flow: row;
    gap: 10px;
}

li {
    background-color: rgb(243, 243, 243);
    padding: 10px;
    margin: 10px;
    height: 100%;
    width: 40%;
    /* position: absolute; */
    border-radius: 10%;
    border-color: rgb(203, 63, 98);
}

.page-header {
    background-color: rgb(203, 63, 98);
}

li a {
    text-decoration: inherit;
    color: inherit;
}
